{% extends "parent.html.j2" %}

{% block content %}	
    <div class="home-edit-body" >
        <div class="home-edit d-flex justify-content-center mt-5">
            <form action="{{ url_for('add_room') }}" method='POST' class="addroomform" enctype='multipart/form-data'>
                {% if error_message %}
                    <p style="text-align: center; color: #FF3062">{{error_message}}</p>
                {% endif %}
                <div class="row">
                  <div class="col-6">
                      <div class="form-group">
                          <label for="numpeople">Number of people in the house</label>
                          <div class="input-group">
                          <input type="number" class="form-control" name="numpeople" id="numpeople">
                          </div>
                      </div>
                  </div>
                  <div class="col-6">
                      <div class="form-group">
                          <label for="numrooms">Number of rooms</label>
                          <div class="input-group">
                          <input type="number" class="form-control" name="numrooms" id="numrooms">
                          </div>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label class="upload-icon">Images of the house and rooms (2 to 5 images) (250kb max)</label>
                      <div class="input-group">
                        <input type="file" class="file-input" name='homeimgs' accept=".jfif,.jpg,.jpeg,.png,.gif"  multiple>
                        <i class="fa fa-upload"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                      <div class="form-group">
                          <label for="price">Average Price of room (Ghc)</label>
                          <div class="input-group">
                          <input type="number" class="form-control" name="roomprice" id="roomprice" placeholder="Enter number of guests">
                          </div>
                      </div>
                  </div>
                </div> 
                <div class="row">
                  <div class="col-12">
                      <div class="form-group">
                          <label for="price">Description of the each room in the home</label>
                          <div class="input-group">
                          <textarea class="form-control" name="roomdescription" id="roomdescription" placeholder="room 1 -- queen size bed, AC, TV"></textarea>
                          </div>
                      </div>
                  </div>
                </div> 
                <div class="row ending">
                    <div class="col-4">
                        <div class="form-group">
                            <div class="input-group">
                            <input type="submit" class="form-control" name="submit" id="submit" style="background-color: green; color: white">
                            </div>
                        </div>
                    </div>    
                    <div class="col-4">
                        <div class="form-group">
                            <a class="form-control" href="{{ url_for('end_process') }}" style="background-color: #FF3062; color: white; text-align: center; text-decoration: none;">Cancel</a>
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div> 
              </div>
            </form>
        </div>
    </div>
  </div>
{% endblock %}    
