{% extends "parent.html.j2" %}

{% block content %}
        <div id="main-body" class="row">
            <div class="col-md-3 col-sm-5 home-tabb">
                <a href="" class="">
                    <div class="card home-image">
                        <img src="{{ url_for('static', filename='pics/transparent1.png') }}" />         
                    </div>
                </a>
                <div class="home-details">
                    <p>Marrets Place</p>
                    <p>Airport, Valley</p>
                    <p>Ghc 340 / month</p>
                </div>
                <div class="d-flex justify-content-between">
                    <a href="" class="">
                        <span class="pencil">
                            <i class="fa-solid fa-pencil" style="color: #FF3062;"></i>
                        </span>
                    </a>
                    <a href="challenges.html" class="far-right">
                        <span class="cancel">
                            <i class="fa-sharp fa-solid fa-trash" style="color: #FF3062;"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-5 home-tabb">
                <a href="" class="">
                    <div class="card home-image">
                        <img src="{{ url_for('static', filename='pics/transparent1.png') }}" />         
                    </div>
                </a>
                <div class="home-details">
                    <p>Marrets Place</p>
                    <p>Airport, Valley</p>
                    <p>Ghc 340 / month</p>
                </div>
                <div class="d-flex justify-content-between">
                    <a href="" class="">
                        <span class="pencil">
                            <i class="fa-solid fa-pencil" style="color: #FF3062;"></i>
                        </span>
                    </a>
                    <a href="challenges.html" class="far-right">
                        <span class="cancel">
                            <i class="fa-sharp fa-solid fa-trash" style="color: #FF3062;"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-5 home-tabb">
                <a href="" class="">
                    <div class="card home-image">
                        <img src="{{ url_for('static', filename='pics/transparent1.png') }}" />         
                    </div>
                </a>
                <div class="home-details">
                    <p>Marrets Place</p>
                    <p>Airport, Valley</p>
                    <p>Ghc 340 / month</p>
                </div>
                <div class="d-flex justify-content-between">
                    <a href="" class="">
                        <span class="pencil">
                            <i class="fa-solid fa-pencil" style="color: #FF3062;"></i>
                        </span>
                    </a>
                    <a href="challenges.html" class="far-right">
                        <span class="cancel">
                            <i class="fa-sharp fa-solid fa-trash" style="color: #FF3062;"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-5 home-tabb">
                <a href="" class="">
                    <div class="card home-image">
                        <img src="{{ url_for('static', filename='pics/transparent1.png') }}" />         
                    </div>
                </a>
                <div class="home-details">
                    <p>Marrets Place</p>
                    <p>Airport, Valley</p>
                    <p>Ghc 340 / month</p>
                </div>
                <div class="d-flex justify-content-between">
                    <a href="" class="">
                        <span class="pencil">
                            <i class="fa-solid fa-pencil" style="color: #FF3062;"></i>
                        </span>
                    </a>
                    <a href="challenges.html" class="far-right">
                        <span class="cancel">
                            <i class="fa-sharp fa-solid fa-trash" style="color: #FF3062;"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-5 home-tabb">
                <a href="" class="">
                    <div class="card home-image">
                        <img src="{{ url_for('static', filename='pics/transparent1.png') }}" />         
                    </div>
                </a>
                <div class="home-details">
                    <p>Marrets Place</p>
                    <p>Airport, Valley</p>
                    <p>Ghc 340 / month</p>
                </div>
                <div class="d-flex justify-content-between">
                    <a href="" class="">
                        <span class="pencil">
                            <i class="fa-solid fa-pencil" style="color: #FF3062;"></i>
                        </span>
                    </a>
                    <a href="challenges.html" class="far-right">
                        <span class="cancel">
                            <i class="fa-sharp fa-solid fa-trash" style="color: #FF3062;"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-5 home-tabb">
                <a href="" class="">
                    <div class="card home-image">
                        <img src="{{ url_for('static', filename='pics/transparent1.png') }}" />         
                    </div>
                </a>
                <div class="home-details">
                    <p>Marrets Place</p>
                    <p>Airport, Valley</p>
                    <p>Ghc 340 / month</p>
                </div>
                <div class="d-flex justify-content-between">
                    <a href="" class="">
                        <span class="pencil">
                            <i class="fa-solid fa-pencil" style="color: #FF3062;"></i>
                        </span>
                    </a>
                    <a href="challenges.html" class="far-right">
                        <span class="cancel">
                            <i class="fa-sharp fa-solid fa-trash" style="color: #FF3062;"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
{% endblock %}