{% extends "parent.html.j2" %}
{% block head %}
    <title>Home</title>
{% endblock %}
  
{% block nav %}		
  <div class="navbar-text rmdrop col-sm-12">
    <a href="{{ url_for('index' ) }}" style="color:#708D81;">Clear Filters</a>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Filters
      </button>
      <div id="filtersList" class="dropdown-menu dropdown-content" aria-labelledby="dropdownMenuButton">
        <form action="{{ url_for('index') }}">
          <div class="row">
            <h5>Location</h5> 
            <span class=''><input type="text" name="location"  placeholder="Any" class='form-control'></span>
          </div>
          <div class="row">
            <h5>Maximum price</h5> 
            <span class=''><input type="number" name="maxprice" placeholder="max" class='form-control'></span>
          </div>
          <div class="row">
            <h5>Availability</h5> 
            <span class=''>start<input type="date" name='startdate' class='form-control'></span>
            <span class=''>end<input type="date" name='enddate' class='form-control'></span>
          </div>  
          <div class="row">
            <h5>Amenities</h5>
            <div class="row" style='text-align: left;'>
              <div class="col-5">
                  <div class="col-12">
                      <input type="checkbox" id="checkbox" value="wifi" name="amenity1"/>  
                      <span style="margin-left: 4%"><label for="checkbox">Wifi</label> </span>
                  </div>
              </div>
  
              <div class="col-7">
                  <div class="col-12">
                      <input type="checkbox" id="checkbox" value="electricity" name="amenity2"/>
                      <span style="margin-left: 4%"><label for="checkbox">Electricity</label> </span>                                        
                  </div>
              </div>
  
              <div class="col-5">
                  <div class="col-12">
                      <input type="checkbox" id="checkbox" value="gym" name="amenity3"/>  
                      <span style="margin-left: 4%"><label for="checkbox">Gym</label> </span>                                                                                                           
                  </div>
              </div>
              
              <div class="col-7">
                  <div class="col-12">
                      <input type="checkbox" id="checkbox" value="security" name="amenity4"/>  
                      <span style="margin-left: 4%"><label for="checkbox">Security</label></span>                                                                                                            
                  </div>
              </div>
  
              <div class="col-5">
                  <div class="col-12">
                      <input type="checkbox"id="checkbox" value="airconditioner" name="amenity5"/> 
                      <span style="margin-left: 4%"><label for="checkbox">AC</label> </span>                                                                                                            
                  </div>
              </div>
  
              <div class="col-7">
                  <div class="col-12">
                      <input type="checkbox" id="checkbox" value="studyroom" name="amenity6"/>
                      <span style="margin-left: 4%"><label for="checkbox">St. Room</label> </span>                                                                                                            
                  </div>
              </div>
            </div>
          </div>  
          <div class="col-12" id="btn">
                <button class="submit-button" style='margin:0'>Apply Filters</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  
  <!-- section -->
  <div class="container-fluid">
    <div class="row" style='margin: 30px auto'>
      <div class="col-lg-3 col-md-4"></div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div id="searchBoxDiv" class=''>
           <input type="text" placeholder="Type keyword" id="searchBox" class='form-control' onkeyup="searchFunc()">
           <p style='text-align:center; color:{{color}}'>{{msg}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Image Row -->

      {% for home_key, home  in homes.items() %}
        <div class="home-box col-lg-3 col-md-4 col-sm-6 col-xs-12 homediv">
          {% if usertype and usertype == 'admin' %}
          <a href="challenges.html" class="far-right">
            <span class="cancel">
                <i class="fa-sharp fa-solid fa-trash" style="color: #FF3062;"></i>
                Delete Post
            </span>
          </a>
          {% endif %}
          <div class="thumbnail">
            <a href="/view_home/{{ home.get('homeId')}} " style="text-decoration: none">
              <img src="{{home.get('homeimgs')[0]}}" alt="Lights" style="width:100%; height: 250px; border-radius: 20px; margin-bottom: 5%">
            </a>
            <div class="caption" id="homecaption">
              <p>{{home.get('homename')}}</p>
              <p>{{home.get('homeaddress')}}, {{home.get('city')}}, {{home.get('country')}}</p>
              <p>{{home.get('roomprice')}} / month / room</p>
            </div>
          </div>
        </div> 
      {% endfor %}
      
    </div>
  </div>
{% endblock %}

{%block script%}
<script>

//TODO: Fix bug - The highlight does not remove for the first search of the second and third paragraphs
function searchFunc() {
    var searchVal, p;
    searchVal = document.getElementById("searchBox").value.toUpperCase();
    homediv = document.querySelectorAll(".homediv"); 

    for (let j = 0; j < homediv.length; j++) {

      
      p = homediv[j].querySelector(".thumbnail").querySelector(".caption").querySelectorAll("p")

      for (let i = 0; i < p.length; i++) {
        

        txtValue = p[i].textContent || p[i].innerText;
        index = txtValue.toUpperCase().indexOf(searchVal)

        if (index > -1) {
          homediv[j].style.display = 'block';
          
          newInnerText = txtValue.substring(0,index) + "<span class='highlight'>" + txtValue.substring(index,index+searchVal.length) + "</span>" + txtValue.substring(index + searchVal.length);
          p[i].innerHTML = "<p>" + newInnerText + "</p>"
          
          
          break;

        } else {

          homediv[j].style.display = "none";
          
        }
    }

    }
  }
</script>

{%endblock%}
