{% extends "parent.html.j2" %}

{% block head %}
    <title>Home</title>
{% endblock %}
  
{% block nav %}		
  <span class="navbar-text">
    <select class="custom-dropdown">
      <option value="option1">Select Filter</option>
      <option value="option2">Option 1</option>
      <option value="option3">Option 2</option>
      <option value="option3">Option 3</option>
      <option value="option3">Option 4</option>
    </select>
  </span>
{% endblock %}

{% block content %}	
  <div class="" id="chx">
    <div class="row">
      <div class=" col-lg-2 col-sm-6">
        <label class="container1">WIFI
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>          
      </div>

      <div class="col-lg-2 col-sm-6">
        <label class="container1">Air-Condition
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>          
      </div>

      <div class=" col-lg-2 col-sm-6">
        <label class="container1">Gym
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>          
      </div>

      <div class="col-lg-2 col-sm-6">
        <label class="container1">Study Room
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>          
      </div>

      <div class="col-lg-2 col-sm-6">
        <label class="container1">Security
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>          
      </div>

      <div class="col-lg-2 col-sm-6">
        <label class="container1">Outdoor Space
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>          
      </div>
    </div>
  </div>
  
  <!-- section -->
  <div class="container-fluid">
    <div class="row">
      <!-- Image Row -->

      {% for home in homes %}
        <div class="home-box col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div class="thumbnail">
            <a href="" style="text-decoration: none">
              <img src="{{home.get('homeimgs')[0]}}" alt="Lights" style="width:100%; height: 250px; border-radius: 20px; margin-bottom: 5%">
            </a>
            <div class="caption">
              <p>{{home.get('homename')}}</p>
              <p>{{home.get('homeaddress')}}, {{home.get('city')}}, {{home.get('country')}}</p>
              <p>{{home.get('roomprice')}} / month / room</p>
            </div>
          </div>
        </div> 
      {% endfor %}
      
    </div>
  </div>
{% endblock %}

</body>
</html>
