{% extends "parent.html.j2" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reserve.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/review.css') }}">
    <link rel="stylesheet" type="text/css" href="/static/node_modules/smart-webcomponents/source/styles/smart.default.css" />
    
{% endblock %}


{% block content %} 
  <div class="contain">
  {% if errors %}

    <p>{{ errors }}</p>
  {% endif %}
    <!--- Title ------>
    <div class="house-title d-flex align-items-center justify-content-center">
        <h4><span>{{ home_data['homename'] }}</span> - <span>{{ home_data['roomprice'] }} / month / room</span></h4>
    </div>

    <!--- Scrollable Images --->
    <div class="wrapper d-flex align-items-center justify-content-center">
        <div class="card-group card-group-scroll">

        {% for img in home_data['homeimgs'] %}
            <div class="card">
                <img src="{{ img }}" class="card-img-top" alt="{{ home_data['homename'] }}" />     
            </div>
        {% endfor %}
        </div>
    </div>

    <!-- house information -->
    <div id='subbody' class="container row">
        <p style="text-align: center; color: red">{{errors}}</p>
        <div class="col-lg-7 col-md-12">
          <ul class="nav nav-pills mb-3 nav-fill" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-desc" type="button" role="tab" aria-controls="pills-desc" aria-selected="true">Description</button>
            </li>

            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-host" type="button" role="tab" aria-controls="pills-host" aria-selected="false">Host</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-availability" type="button" role="tab" aria-controls="pills-availability" aria-selected="false">Availability</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-rooms" type="button" role="tab" aria-controls="pills-rooms" aria-selected="false">Rooms</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-reviews" type="button" role="tab" aria-controls="pills-amenities" aria-selected="false">Reviews</button>
            </li>
          </ul>
          
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-desc" role="tabpanel" aria-labelledby="pills-desc-tab">
              <div>{{ home_data['homedescription']}}</div>
              <div class="row">
              <p><b>Available amenities</b></p>
              {% for amenity in home_data['amenities'] %}
                <div class="col-sm-3">
                  <div class="row">
                    <div class="col-sm-3"><i class="fa-regular fa-circle fa-lg" style="color: rgb(15, 207, 15);"></i></div>
                    <div class="col-sm-9"><p>{{ amenity }}</p></div>              
                  </div>
                </div>
              {% endfor %}
            </div>
            <div><p><b>Location: </b> {{home_data['homeaddress']}}, {{home_data['city']}}, {{home_data['country']}}</p></div>
            <div id="map" style="height: 400px; width: 100%;">
                
            </div>

            </div>
            <div class="tab-pane fade" id="pills-reviews" role="tabpanel" aria-labelledby="pills-amenities-tab">

              <div id="reviews">
    {% for review in reviews %}

    <div class="row single-review">
            <div class="main-review">
                <div class="row">
                    <div class='col-md-2'>
                    
                        {% if review['image'] == "" %}
                            <img src="/static/pics/profile.png" class="rounded-circle" style="height: 50px; width:50px">
                        {% else %} 
                            <img src={{ review.get('image') }} class="rounded-circle" style="height: 50px; width:50px">;
                        {% endif %}
                    </div>
                    <div class='col-md-10'>
                        <span id='name' style="font-size: 15px;">{{ review.get('email') }}</span>
                        <span id='date' style="font-size: 15px;">{{ review.get('dateposted') }}</span>
                        <p id="reviewing">{{ review.get('reviewmessage') }}</p> 

                        <p id="reviewing">Rating: {{ review.get('rating') }}</p> 
                    </div>
                </div>  
                <hr>
            </div>
    </div>
    {% endfor %}

    {% if  data['log_status'] == "Log out" %}
        
    <form action="/review/home/{{home_data['homeId']}}" method='POST' class='row'>
      <div class='col-sm-4'>
        <textarea type="text" name="reviewmessage" rows="3" cols='20'></textarea>
      </div>
      <div class='col-sm-2'>
        Rating <select name='rating' class='form-control'>                                                      
          {% for i in range(1,6) %}
              <option name="rating" value="{{i}}">{{i}}</option> 
          {% endfor %}
        </select>
      </div>
      <div class='col-sm-2'>  
        <input type="submit" class='submit-button' name='review-submit' id='submit' value="POST">
      </div>
    </form>

    {% endif %}
</div> 
            
            </div>
            <div class="tab-pane fade" id="pills-host" role="tabpanel" aria-labelledby="pills-host-tab">
                <div class="row">
                  <div class="col-md-4" id="divImageMediaPreview">
                      <img src="{{ host_data['profileimageurl'] }}" class="rounded-circle" style="width: 100%; height: 90%;" alt="Avatar" />
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <p>Name: </p>
                    <p>{{ host_data['firstname'] }} {{ host_data['lastname'] }}</p>
                    <p>Contact: </p>
                    <p>{{ host_data['phonenumber'] }}</p>
                    <p>Email: </p>
                    <p>{{ host_data['email'] }}</p>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <a href="/view_profile/owner/{{ host_data['nationalId'] }}">show more</a>
                  </div>   
                </div>
            </div>
            <div class="tab-pane fade" id="pills-availability" role="tabpanel" aria-labelledby="pills-availability-tab">
                <smart-calendar months="2" calendar-mode="classic" id="calendar" important-dates="{{ home_data['dateslist'] }}" style="width: 90%;"> 
                </smart-calendar>
            </div>
            <div class="tab-pane fade" id="pills-rooms" role="tabpanel" aria-labelledby="pills-rooms-tab">
              
                <p>Number of rooms: {{ home_data['numrooms'] }} </p>
                <p>Number of people in the house: {{ home_data['numpeople'] }}</p>
                <p><b>Room Description</b> <br> {{ home_data['roomdescription'] }}</p>
            </div>
          </div>
        </div>
        
        <!-- Reserve Form and the house information -->
        
        <div class="col-md-1">
        </div>
        
        <div id="reservation" class="col-lg-4 col-md-12">
          <form class="w-full max-w-lg" action="{{ '/reserve/'+ home_data['homeId'] + '/' + home_data['encryptprice']  }}" method='POST' enctype="multipart/form-data">

            {% if  data['log_status'] == "Log out" %}

                          <div class="row">
                <div class="col-6">
                    <div class="form-group">  
                        <label for="checkin">Check-In</label>
                        <div class="input-group">
                          <input type="date" class="form-control" id="checkin" name="checkin" required>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                      <label for="checkout">Check-Out</label>
                      <div class="input-group">
                        <input type="date" class="form-control" id="checkout" name="checkout" required>
                      </div>
                  </div>
              </div>    
            </div>
            <div class="row">
              <div class="col-12">
                  <div class="form-group">
                      <label for="numrooms">Number of rooms</label>
                      <div class="input-group">
                        <select class="form-control" name="numrooms" id="numrooms" placeholder="Enter number of rooms to reserve">                                                      
                          {% for i in range(home_data['numrooms']) %}
                              <option value="{{i+1}}">{{i+1}}</option> 
                          {% endfor %}
                        </select>
                    </div>
                  </div>
              </div>
          </div> 
          <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="firstname">Upload School Reference</label>
                    <div class="input-group">
                    <input type="file" class="form-control" id="guests" name="schoolrefimg" placeholder="School Reference" required>
                    </div>
                </div>
            </div>
          </div>
          <div class="form-group">
                    <label for="text">Lets get to know you</label>
                    <div class="row">
                      <input type="checkbox" class="col-sm-2" id="checkthis" required>
                      <a href="https://nyumbani.form.temperamentassessment" class="col-sm-10" target='_blank'>https://nyumbani.form...</a>                      
                    </div>
                </div> 
          
            
                                
            {% endif %}
            <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="form-group">
                    <div class="input-group">
                    <input type="submit" class="form-control" id="submit" value="Reserve">
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
          </div> 
          </form>
        </div>
      </div>
      <div class="footer">
        <p>© Copyright Nyumbani 2022</p>
      </div>
      </div>
    
{% endblock %}

{% block script %}
    <script>
     
      let map;

      async function initMap() {
        const { Map } = await google.maps.importLibrary("maps");
        map = new Map(document.getElementById("map"), {
          center: { lat: {{location[0]}}, lng: {{location[1]}} },
          zoom: 9,
        });
      }

      initMap();
    
    </script>
    <script type="module" src="/static/node_modules/smart-webcomponents/source/modules/smart.calendar.js"></script>
    <script src="{{ url_for('static', filename='js/reserve.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOx2Perl8ixzncFwkjV5SdDgFDI12xUqY&callback=initMap"></script>
{% endblock %}  

