{% extends "parent.html.j2" %}

{% block content %}	
    <div class="row">
        <div class="col-12" id="ctnt">
            {% if msg1 %}
                <p style="color: green">{{ msg1 }}</p>
            {% endif %}
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="{{url_for('static', filename='pics/transparent2.png') }}" height="25%" style="margin: auto;">
            </a>
            <p style='text-align:center; color:#FF3062'> {{log}} </p>
            <div class="container-fluid" id="atn">
                <div class="row">
                    <div class="col-md-12">
                    <form action="{{ url_for('login') }}" method="POST" class="img-section">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                        <div class="input-group">
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="fa fa-envelope"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <div class="input-group">
                                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
                                        <div class="input-group-append">
                                            <span class="input-group-text password-toggle">
                                                <i class="fa fa-lock"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="login">
                        <a href="{{ url_for('sign_up_one') }}">New here?</a>
                    </div>
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                            <button type="submit" class="login-button">LOGIN</button>
                        </div>
                    </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

