{% extends "parent.html.j2" %}


{% block content %}
    <div class="row">
      <div class="col-md-6" id="column-one">
        <div class="section-one">
            <pre style="font-family: 'Montserrat', sans-serif; font-size: 18px">
<span style="color: #FF3062"><b>Pay: Ghc {{ price }}</b></span>
___________________________
Pay via Bank
Name: Ecobank
Account Number: 14459303000404
Account Name: O~Nyumbani
Reference: Your name
            </pre>
        </div>
        <div class="section-two">
            <pre style="font-family: 'Montserrat', sans-serif; font-size: 18px">
___________________________
Pay via MTN Momo
Mobile Channel: MTN
Mobile Number: +233 246 379 202
Mobile Name:  Onyumbani Housing
Reference: Your name
           </pre>
        </div> 
        <div class="section-three">
          <a style='color:white' class="pink-button" href="{{ url_for('confirmpayment') }}">Paid?</a>
          <a style='color:white' class="green-button" href="{{ url_for('view_application') }}">Cancel</a>
        </div>       
      </div>
      <div class="col-md-5" id="column-two"  style='background-color: #203644;'>
        <img src="{{ url_for('static', filename='pics/biometric.png') }}" height="600" alt="Logo" loading="lazy">
      </div>
    </div>
{% endblock %}
