{% extends "parent.html.j2" %}

{% block content %}	
<div style="margin-top: 3%;">
    <p style='text-align:center; color:#FF3062'> {{log}} </p>
    <div class="row">
      <form action="{{ url_for('sign_up_one') }}" enctype="multipart/form-data" method="POST" >
        <div class="col-md-12">
            <div class="container-fluid" id="atn">
                <div class="row">
                <div class="col-md-6" id="img-section1">
                    <small>Upload Profile Image Here</small>
                    <div id="divImageMediaPreview">
                        <img src="/static/pics/Osuani-Final-Colour.jpg" class="rounded-circle" style="width: 300px; height: 280px" alt="Avatar" />
                    </div>
                    <label class="upload-icon">
                        <input type="file" onchange="previewImage(event)" name="profileimage" class="file-input" accept=".jfif,.jpg,.jpeg,.png,.gif">
                    </label>
                </div>
                <div class="col-md-6" id="sec-section">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="firstname">First Name</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter your firstname">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastname">Last Name</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter your lastname">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dob">Date of Birth</label>
                                <div class="input-group">
                                 <input type="date" class="form-control" id="dob" name="dob" placeholder="Enter your firstname">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <p>Student or Owner</p>
                                <div class="form-check-inline">
                                    <input class="form-check-input larger-checkbox" name="usertype" type="radio" id="inlineCheckbox1" value="student">
                                    <label class="form-check-label" for="inlineCheckbox1">Student</label>
                                </div>
                                <div class="form-check-inline">
                                    <input class="form-check-input larger-checkbox" name="usertype" type="radio" id="inlineCheckbox2" value="owner">
                                    <label class="form-check-label" for="inlineCheckbox2">Owner</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="homeaddress">Home Address</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="homeaddress" name="homeaddress" placeholder="Enter your home address">
                                    <div class="input-group-append">
                                    <span class="input-group-text password-toggle">
                                    <i class="fa-solid fa-location-dot"></i>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="firstname">Email</label>
                                <div class="input-group">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
                                <div class="input-group-append">
                                    <span class="input-group-text password-toggle">
                                    <i class="fa fa-envelope"></i>
                                    </span>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div class="row">
                        <p id="addhere" style="color:red;"></p>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="password">Password</label>
                                <div class="input-group">
                                    <input type="password" class="form-control password" id="password" name="password" placeholder="Enter your password">
                                    <div class="input-group-append">
                                        <span class="input-group-text password-toggle">
                                        <i class="fa fa-lock"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="password">Confirm Password</label>
                                <div class="input-group">
                                    <input type="password" class="form-control password" id="confirmpassword" name="confirmpassword" placeholder="Enter your password">
                                    <div class="input-group-append">
                                        <span class="input-group-text password-toggle">
                                        <i class="fa fa-lock"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <p class="small text-muted">Already a Member? <a href="{{ url_for('login') }}">Login</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" id="btn">
            <button type="submit" class="submit-button" id="popUpYes" disabled>NEXT</button>
        </div>
      </form>
    </div>
</div>
{% endblock %}

{% block script %}
    <script>
        $(document).on('change', '.password', function() {
                const password1 = document.getElementById('password');
                const password2 = document.getElementById('confirmpassword');
                const addhere = document.getElementById('addhere');
                const btn = document.getElementById("popUpYes");
                const passwordRegex = /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{7,15}$/;
                
                if (passwordRegex.test(password1.value)) {                 
                    if (password1.value == password2.value) {
                        password1.style.border = "green solid 2px";
                        password2.style.border = "green solid 2px";
                        addhere.innerHTML = "";
                        btn.removeAttribute("disabled");
                    }
                    else{
                        password1.style.border = "red solid 2px";
                        password2.style.border = "red solid 2px";
                        addhere.innerHTML = "*There's a mismatch in the password";
                    } 
                } 
                else{
                  password1.style.border = "red solid 2px";
                  password2.style.border = "red solid 2px";
                  addhere.innerHTML = "*Password must have a combination of letters, numbers and symbols and between 7 and 15 characters";
                }    
            }
        )
        $(document).on('change', '.file-input', function() {
            var filesCount = $(this)[0].files.length;
            var textbox = $(this).prev();
            
            if (filesCount === 1) {
                var fileName = $(this).val().split('\\').pop();
                textbox.text(fileName);
            } else {
                textbox.text(filesCount + ' files selected');
            }
    
            if (typeof (FileReader) != "undefined") {
                var dvPreview = $("#divImageMediaPreview");
                dvPreview.html("");            
                $($(this)[0].files).each(function () {
                    var file = $(this);                
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            var img = $("<img />");
                            img.attr("style", "width: 270px; height: 250px; padding: 10px; border-radius: 50%");
                            img.attr("src", e.target.result);
                            dvPreview.append(img);
                    }
                reader.readAsDataURL(file[0]);                
            });
            } else {
                alert("This browser does not support HTML5 FileReader.");
                }
            }
        );
    </script>
{% endblock %}  

