{% extends "parent.html.j2" %}

{% block content %}	
    <div class="row" style="margin-top: 2%">
        <p style='text-align:center; color:#FF3062'> {{log}} </p>
        <div class="col-md-3"></div>
        <div class="col-md-6" id="sec-section">
            <form action="{{ url_for('sign_up_student') }}" method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                              <span class="input-group-btn">
                                <span> Upload Student ID<small> (2.5mb max)</small></span>
                                <span class="btn btn-file">
                                    <span class="fa fa-upload">
                                        <label class="upload-icon">
                                            <input type="file" name="studentidimg" onchange="previewImage(event)" class="file-input" accept="image/*"/>
                                        </label>
                                    </span>  
                                </span>
                                <span id="divImageMediaPreview">
                                    <img src="/static/pics/Osuani-Final-Colour.jpg" style="width: 200px;" alt="Avatar" />
                                </span>
                              </span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <span>Upload a current reference from an academic staff or non-staff</span>
                                <span class="input-group-btn">
                                    <span class="btn">                                        
                                        <input type="file" name="referenceimg" accept="image/*"/>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="text">Emergency Contact (name, address, location)</label>
                            <div class="input-group">
                                <textarea type="text" class="form-control" id="emergencycontact" name="emergencycontact" rows="4" placeholder="Enter your emergency contact"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" id="btn">
                    <button class="submit-button">JOIN</button>                            
                </div>

            </form>        
        </div>
    </div>
{% endblock %}

{% block script %}	
    <script>
        $(document).on('change', '.file-input', function() {
        var filesCount = $(this)[0].files.length;
        
        var textbox = $(this).prev();
        
        if (filesCount === 1) {
            var fileName = $(this).val().split('\\').pop();
            textbox.text(fileName);
        } else {
            textbox.text(filesCount + ' files selected');
        }
    
        if (typeof (FileReader) != "undefined") {
            var dvPreview = $("#divImageMediaPreview");
            dvPreview.html("");            
        $($(this)[0].files).each(function () {
            var file = $(this);                
            var reader = new FileReader();
            reader.onload = function (e) {
                var img = $("<img />");
                img.attr("style", "width: 200px;");
                img.attr("src", e.target.result);
                dvPreview.append(img);
            }
            reader.readAsDataURL(file[0]);                
        });
        } else {
            alert("This browser does not support HTML5 FileReader.");
        }
    });
    </script>
{% endblock %}
