{% extends "parent.html.j2" %}

{% block content %} 
    <div class="row">
      <form action="">
        <div class="col-md-12">
            <div class="container-fluid" id="atn">
                <div class="row">
                <div class="col-md-6" id="img-section">
                    <div class="upload-icon-container">
                    <img src="{{ profile_data['profileimageurl'] }}" class="rounded-circle" style="width: 270px; height: 250px;" alt="Avatar" />
                        <p style="text-align: center;"><strong>{{ profile_data['firstname'] }} {{ profile_data['lastname'] }}</strong></p>
                    </div>

                </div>
                <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <p><b>Home Address:</b> {{ profile_data['homeaddress'] }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p><b>Email: </b>{{ profile_data['email'] }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p><b>Phone Number:</b> {{ profile_data['phonenumber'] }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p></p>
                                
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p><b>Bio and Interests</b></p>
                                <p>{{ profile_data['bio'] }}</p>
                            </div>
                        </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- <div class="col-12" id="btn">
            <button class="submit-button">NEXT</button>                            
        </div> -->
        </div>
    </div>

<div class="footer">
  <div class="row">
    <div class="col-md-12" style="background-color: white">
    <p>© Copyright Nyumbani 2022</p>
    </div>
  </div>
</div>                           
{% endblock %}
{% block script %}
<script>
    $(document).on('change', '.file-input', function() {


var filesCount = $(this)[0].files.length;

var textbox = $(this).prev();

if (filesCount === 1) {
var fileName = $(this).val().split('\\').pop();
textbox.text(fileName);
} else {
textbox.text(filesCount + ' files selected');
}



if (typeof (FileReader) != "undefined") {
var dvPreview = $("#divImageMediaPreview");
dvPreview.html("");            
$($(this)[0].files).each(function () {
var file = $(this);                
    var reader = new FileReader();
    reader.onload = function (e) {
        var img = $("<img />");
        img.attr("style", "width: 270px; height: 250px; padding: 10px; border-radius: 50%");
        img.attr("src", e.target.result);
        dvPreview.append(img);
    }
    reader.readAsDataURL(file[0]);                
});
} else {
alert("This browser does not support HTML5 FileReader.");
}


});
</script>
{% endblock %}  
