{% extends "parent.html.j2" %}


{% block style %}

<style>
    .rounded-rectangle {
        border-radius: 15px;
        background-color: #D9D9D9;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        padding: 1%;
        margin-bottom: 20px;
    }

    .btn {
        border-radius: 15px;
    }
    
    .small{
        font-size: 13px
    }
    
    #main-body{
        margin-bottom: 50px;
    }
</style>

{% endblock %}

{% block content %}

    <!-- section -->
  <div class="container-fluid">
    <div class="navbar-text col-sm-12">
      <p style='font-weight:bold'>LISTED HOMES</p>
      <ul class="horizontal-list">
        <li class="nav-item btn" style='background-color: black;'>
            <a class="" style='color: white;' aria-current="page" href="{{ url_for('add_home') }} ">Add Home</a>
        </li>
      </ul>
    </div>
    <div id="main-body" class="row">
      <!-- Image Row -->
      {% if not homes %}
        <p style='text-align: center'> No home uploaded so far </p>
      {% endif %}
      {% for home_key, home  in homes.items() %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 home-tabb">
          <a href="/view_home/{{ home.get('homeId')}}" style="text-decoration: none">
            <div class="home-image">
                <img src="{{home.get('homeimgs')[0]}}" alt="Lights" style="width:100%; height: 200px; border-radius: 20px; margin-bottom: 5%">         
            </div>
          </a>
          <div class="home-details">
            <p class='small'>{{home.get('homename')}}</p>
            <p class='small'>{{home.get('homeaddress')}}, {{home.get('city')}}, {{home.get('country')}}</p>
            <p class='small'>{{home.get('roomprice')}} / month / room</p>
          </div>
          <div class="d-flex justify-content-between">
            <a href="edithome/{{home.get('homeId')}}" class="">
                <span class="pencil">
                    <i class="fa-solid fa-pencil" style="color: #FF3062;"></i>
                </span>
            </a>
            <a href="/delete_home/{{home.get('homeId')}}/{{home.get('userId')}}" class="far-right">
                <span class="cancel">
                    <i class="fa-sharp fa-solid fa-trash" style="color: #FF3062;"></i>
                </span>
            </a>
          </div>
        </div> 
      {% endfor %}  
    </div>
    </div>
        <p style="text-align: center; font-weight:bold">HOUSING APPLICATIONS</p>
        <div class="row">
            {% if not applications %}
                <p style='text-align: center'> There is no application at the moment </p>
            {% endif %}
            {% for appId, application in applications.items() %}
                <div class="col-sm-12 rounded-rectangle">
                    <div class="row">
                        <div class="col-md-3">
                            <div style="text-align:center">
                                <img src="/static/pics/profile.png" class="rounded-circle" style="width: 50%; height: 20%;" alt="Avatar"/>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <p style='font-weight: bold'>Student</p>
                            <p class='small'>{{application['studentname']}}</p>
                            <p class='small'>Contact: {{application['studentcontact']}}</p>
                            <p class='small'>Email: {{application['applicant_email']}}</p>
                            <a href="/view_profile/student/{{ application['studentId'] }}" target="_blank"><p class='small'>view profile card</p></a>
                            <a href="{{ application['School-Reference'] }}" target="_blank"><p class='small'>view school reference</p></a>
                            <a href="" target="_blank"><p class='small'>view student test result</p></a>

                            {%if application['status'] == 'Host approval'%}
                            <div class="" style='margin-top: 10px'>
                                <a href="/view_listed?change=disapprove&id={{appId}}" class="btn btn-danger" style="margin-right: 10%">disapprove</a>
                                <a href="/view_listed?change=approve&id={{appId}}" class="btn btn-success">approve</a>
                            </div>
                            {%endif%}
                        </div>
                        <div class="col-md-3">
                            <p style='font-weight: bold'>Home</p>
                            <p class='small'>{{homes[application['homeId']]['homename']}}</p>
                            <p class='small'>{{homes[application['homeId']]['homeaddress']}}</p>
                            <p class='small'>Amount: Ghc {{application['roomprice']}}</p>
                            <p class='small'>{{application['initdate']}} - {{application['enddate']}}</p>
                        </div>
                        <div class="col-md-3">
                            <p style='font-weight: bold'>Status</p>
                            <small>{{application['status']}}</small>
                        </div>
                    </div>
                </div>
            {%endfor%}
        </div>
    
{% endblock %}
