{% extends "parent.html.j2" %}
{% block head %}
    <title>View Profile</title>
{% endblock %}


{% block content %} 
    <div style="margin-top: 3%;">
    <p style='text-align:center; color:#FF3062'> {{log}} </p>
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid" id="atn">
                    <div class="row">
                    <div class="col-md-6" id="img-section1">
                        <div id="divImageMediaPreview">
                            <img src="{{ profile_data['profileimg'] }}" class="rounded-circle" style="width: 250px; height: 220px" alt="Avatar" />
                        </div>
                        {% if usertype=='student'%}
                        <div id='reviewslead'>
                            <div id="reviews">
                                {% for review in reviews %} 
                                <div class="row single-review">
                                    <div class="main-review">
                                        <div class="row">
                                            <div class='col-md-12 col-lg-2'>
                                                {% if review['image'] == "" %}
                                                    <img src="/static/pics/profile.png" class="rounded-circle" style="height: 80px; width:80px">
                                                {% else %} 
                                                    <img src={{ review.get('image') }} class="rounded-circle" style="height: 80px; width:80px">;
                                                {% endif %}
                                            </div>
                                            <div class='col-md-12 col-lg-10''>
                                                <div class='row'>
                                                  <div class='col-lg-7 col-md-12' id='name' style="font-size: 15px;">{{ review.get('email') }}</div>
                                                  <div class='col-lg-5 col-md-12' id='date' style="font-size: 15px; text-align: right">{{ review.get('dateposted') }}</div>
                                                </div>
                                                <p id="reviewing">{{ review.get('reviewmessage') }}</p> 
                            
                                                Rating: 
                                                {% for i in range(review.get('rating')) %}
                                                  <span><i class="fa fa-star" style="color: #e9d71c;"></i></span>
                                                {% endfor %}
                                            </div>
                                        </div>  
                                        <hr>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>  
                            {% if  data['log_status'] == "Log out" %}
                                
                                <form action="/review/student/{{profile_data['nationalId']}}" method='POST' class='row'>
                                  <div class='col-7'>
                                    <textarea type="text" name="reviewmessage" style='width: 100%;' placeholder='Add your comment'></textarea>
                                  </div>
                                  <div class='col-2'>
                                    <p style='margin-bottom: 0; font-size: 13px'>Rating </p>
                                    <select name='rating' class='form-control'>                                                      
                                      {% for i in range(1,6) %}
                                          <option name="rating" value="{{i}}">{{i}}</option> 
                                      {% endfor %}
                                    </select>
                                  </div>
                                  <div class='col-3' style='margin:auto'>  
                                    <input type="submit" style='background-color: black; color: white' class='form-control' name='review-submit' id='submit' value="POST">
                                  </div>
                                </form>                 
                            {% endif %}
                        </div> 
                        {% endif %}
                    </div>
                    <div class="col-md-6" id="sec-section">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="firstname">First Name</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter your firstname" value="{{ profile_data['firstname'] }}" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="lastname">Last Name</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter your lastname" value="{{ profile_data['lastname'] }}" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="homeaddress">Home Address</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="homeaddress" name="homeaddress" placeholder="Your home address" value="{{ profile_data['homeaddress'] }}" disabled>
                                        <div class="input-group-append">
                                            <span class="input-group-text password-toggle">
                                                <i class="fa-solid fa-location-dot"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="firstname">Email</label>
                                    <div class="input-group">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" value="{{ profile_data['email'] }}" disabled>
                                    <div class="input-group-append">
                                        <span class="input-group-text password-toggle">
                                        <i class="fa fa-envelope"></i>
                                        </span>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>    
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="number">Phone Number</label>
                                    <div class="input-group">
                                    <input type="text" class="form-control" id="number" name="number" placeholder="Enter your number" value="{{ profile_data['phonenumber'] }}" disabled>
                                    <div class="input-group-append">
                                        <span class="input-group-text password-toggle">
                                        <i class="fa-solid fa-phone"></i>
                                        </span>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>   
                        <div class="form-outline" style="margin-top: 20px;">
                            <label class="form-label" for="textAreaExample">Bio and Interests</label>
                            <textarea class="form-control" type="text" id="textAreaExample1" name="bio" rows="4" disabled>{{ profile_data['bio'] }}
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
{%endblock%}