{% extends "parent.html.j2" %}

{% block content %}	
        <form action="{{ url_for('add_home') }}" method='POST' enctype='multipart/form-data' id="addhomeform">
            {% if error_message %}
                <p style="text-align: center; color: #FF3062">{{error_message}}</p>
            {% endif %}
            <div class="col-md-12 sm-12">
                <div class="container-fluid" id="atn">
                    <div class="row">
                        <div class="col-md-6 img-section">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="homename">Name of Home</label>
                                        <div class="input-group">
                                        <input type="text" class="form-control" name="homename" id="homename" placeholder="Enter your name of home">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="homeaddress">Address of Home</label>
                                        <div class="input-group">
                                        <input type="text" class="form-control" name="homeaddress" id="homeaddress" placeholder="Enter your address of home">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="numrooms">City</label>
                                        <div class="input-group">
                                        <input type="text" class="form-control" name="city" id="city" placeholder="Enter city">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="numrooms">Country</label>
                                        <div class="input-group">
                                        <input type="text" class="form-control" name="country" id="country" placeholder="Enter country">
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="homedescription">What you like about the home?</label>
                                        <div class="input-group">
                                        <input type="text" class="form-control" name="homedescription" id="homedescription" placeholder="Tell us">
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span style="margin-right: 10px;">Image of  Ownership Evidence (250 kb max)</span>
                                            <input type="file" class="file-input" name='ownershipimg' accept="image/*"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6 img-section">
                          <div class="row">
                            <p>Home Availability</p>
                            <div class="col-6">
                                <div class="form-group">
                                    <div class="input-group">
                                      <input type="date" name="initdate" class="form-control" placeholder="Initial Date"  min="{{currDate}}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                              <div class="form-group">
                                  <div class="input-group">
                                    <input type="date" name="enddate" class="form-control" placeholder="Ending Date"  min="{{currDate}}">
                                  </div>
                              </div>
                          </div>  
                          <p> Amenities</p>
                          <div class="row">
                            <div class="col-6">
                                <div class="col-12">
                                    <input type="checkbox" id="checkbox" value="yes" name="amenity-electricity"/>  
                                    <span style="margin-left: 10%"><label for="checkbox">Electricity</label> </span>
                                </div>
                            </div>
    
                            <div class="col-6">
                                <div class="col-12">
                                    <input type="checkbox" id="checkbox" value="yes" name="amenity-wifi"/>
                                    <span style="margin-left: 10%"><label for="checkbox">WIFI</label> </span>                                        
                                </div>
                            </div>
    
                            <div class="col-6">
                                <div class="col-12">
                                    <input type="checkbox" id="checkbox" value="yes" name="amenity-gym"/>  
                                    <span style="margin-left: 10%"><label for="checkbox">Gym</label> </span>                                                                                                           
                                </div>
                            </div>
    
                            <div class="col-6">
                                <div class="col-12">
                                    <input type="checkbox"id="checkbox" value="yes" name="amenity-airconditioner"/> 
                                    <span style="margin-left: 10%"><label for="checkbox">Air Condition</label> </span>                                                                                                            
                                </div>
                            </div>
    
                            <div class="col-6">
                                <div class="col-12">
                                    <input type="checkbox" id="checkbox" value="yes" name="amenity-studyroom"/>
                                    <span style="margin-left: 10%"><label for="checkbox">Study Room</label> </span>                                                                                                            
                                </div>
                            </div>
    
                            <div class="col-6">
                                <div class="col-12">
                                    <input type="checkbox" id="checkbox" value="yes" name="amenity-security"/>  
                                    <span style="margin-left: 10%"><label for="checkbox">Security</label></span>                                                                                                            
                                </div>
                            </div>
                          </div>
                          <div class="col-12">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="otheramenities">Other Amenities</label>
                                        <div class="input-group">
                                        <input type="text" class="form-control" name="otheramenities" id="otheramenities" placeholder="Enter other amenities - e.g Pool, fan, kitchenette">
                                        </div>
                                    </div>
                                </div>
                          </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-12" id="btn">
                <button class="submit-button">ADD</button>
            </div>
        </form>
{% endblock %}	
