body {
    padding-top: 2rem;
}

@media (min-width: 576px) {
    .card-group.card-group-scroll {
        overflow-x: scroll;
        flex-wrap: nowrap;
    }
    .card-group.card-group-scroll::-webkit-scrollbar {
        display: none;}
    /* .card-group.card img {
        -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.1)))
    } */
}
.card-group {
    max-width: 80%;
}
.house-title {
    padding: 50px;
}
.card-group.card-group-scroll > .card {
    flex-basis: 35%;
    padding: 0px 10px;
    
}
.container {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
  }
  
  .form {
    position: fixed;
    top: 80%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 30%;
  }
  
  .text {
    width: 70%;
    height: 100vh;
  }

  