{% extends "parent.html.j2" %}

{% block content %}	
<div style="margin-top: 3%;">
    <p style='text-align:center; color:#FF3062'> {{log}} </p>
    <div class="row">
      <form action="{{ url_for('sign_up_one') }}" enctype="multipart/form-data" method="POST" >
        <div class="col-md-12">
            <div class="container-fluid" id="atn">
                <div class="row">
                <div class="col-md-6" id="img-section1">
                    <small style='font-weight: bold'>*Please upload an image of yourself here</small>
                    <div id="divImageMediaPreview">
                        <img src="/static/pics/Osuani-Final-Colour.jpg" class="rounded-circle" style="width: 300px; height: 280px" alt="Avatar" />
                    </div>
                    <label class="upload-icon">
                        <input type="file" onchange="previewImage(event)" name="profileimage" class="file-input" accept=".jfif,.jpg,.jpeg,.png,.gif,.pdf">
                    </label>
                </div>
                <div class="col-md-6" id="sec-section">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="firstname">First Name</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter your firstname">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastname">Last Name</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter your lastname">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dob">Date of Birth</label>
                                <div class="input-group">
                                 <input type="date" class="form-control" id="dob" name="dob" placeholder="" min="1920-06-02" max="2010-06-08">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <p>Student or Owner</p>
                                <div class="form-check-inline">
                                    <input class="form-check-input larger-checkbox" name="usertype" type="radio" id="inlineCheckbox1" value="student">
                                    <label class="form-check-label" for="inlineCheckbox1">Student</label>
                                </div>
                                <div class="form-check-inline">
                                    <input class="form-check-input larger-checkbox" name="usertype" type="radio" id="inlineCheckbox2" value="owner">
                                    <label class="form-check-label" for="inlineCheckbox2">Homeowner</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="homeaddress">Home Address</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="homeaddress" name="homeaddress" placeholder="Enter your home address">
                                    <div class="input-group-append">
                                    <span class="input-group-text password-toggle">
                                    <i class="fa-solid fa-location-dot"></i>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <p id="em" style="color:red; font-size:13px"></p>
                                <div class="input-group">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
                                <div class="input-group-append">
                                    <span class="input-group-text password-toggle">
                                    <i class="fa fa-envelope"></i>
                                    </span>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div class="row">
                        <p id="addhere" style="color:red; font-size:13px"></p>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="password">Password</label>
                                <div class="input-group">
                                    <input type="password" class="form-control password" id="password" name="password" placeholder="Enter your password">
                                    <div id="toggleBtn" onclick="togglePasswordVisibility()">
                                        <span id="slash1" class="input-group-text password-toggle">
                                            <i class="fa fa-eye"></i>
                                        </span>
                                    </div>
                                    <!--<div class="input-group-append">
                                        <span class="input-group-text password-toggle">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="password">Confirm Password</label>
                                <div class="input-group">
                                    <input type="password" class="form-control password" id="confirmpassword" name="confirmpassword" placeholder="Enter your password">
                                    <div id="toggleBtn2" onclick="togglePasswordVisibility2()">
                                        <span id="slash2" class="input-group-text password-toggle">
                                            <i class="fa fa-eye"></i>
                                        </span>
                                    </div>
                                    <!-- <div class="input-group-append">
                                        <span class="input-group-text password-toggle">
                                        <i class="fa fa-lock"></i>
                                        </span>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <p class="small text-muted">Already a Member? <a href="{{ url_for('login') }}">Login</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" id="btn">
            <button type="submit" class="submit-button" id="popUpYes" disabled>NEXT</button>
        </div>
      </form>
    </div>
</div>
{% endblock %}

{% block script %}
    <script>
        const nameRegex = /([0-9_-]*[a-z][0-9_-]*){2}/;
        const btn = document.getElementById("popUpYes");
        let eval = false;
        let bbtn = false;
        
        $(document).on('change', '#email', function() {
            const email = document.getElementById('email');
            const emailRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
            const em = document.getElementById('em');
            eval = false;
            
            if (emailRegex.test(email.value)) { 
                eval = true;
                em.innerHTML = "";
                email.style.border = "green solid 2px";
            }
            else{
                email.style.border = "red solid 2px";
                em.innerHTML = "Email is not valid";
            }
            
            if (bbtn && eval){
                btn.style.backgroundColor = "green";
                btn.removeAttribute("disabled");
            }
            else{
                btn.style.backgroundColor = "black";
                btn.setAttribute("disabled", "");
            }
        })
    
        $(document).on('change', '.password', function() {
                const password1 = document.getElementById('password');
                const password2 = document.getElementById('confirmpassword');
                const addhere = document.getElementById('addhere');
                const passwordRegex = /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{7,15}$/;
                bbtn = false;
                
                if (passwordRegex.test(password1.value)) {                 
                    if (password2.value == ""){
                        password1.style.border = "green solid 2px";
                        password2.style.border = "";
                        addhere.innerHTML = "";
                    }
                    else if (password1.value == password2.value) {
                        password1.style.border = "green solid 2px";
                        password2.style.border = "green solid 2px";
                        addhere.innerHTML = "";
                        bbtn = true;
                    }
                    else{
                        password1.style.border = "red solid 2px";
                        password2.style.border = "red solid 2px";
                        addhere.innerHTML = "*There's a mismatch in the password";
                    } 
                } 
                else{
                  password1.style.border = "red solid 2px";
                  password2.style.border = "red solid 2px";
                  addhere.innerHTML = "*Password must have a combination of letters, numbers and symbols and between 7 and 15 characters";
                }  
                
                if (bbtn && eval){
                    btn.style.backgroundColor = "green";
                    btn.removeAttribute("disabled");
                }
                else{
                    btn.style.backgroundColor = "black";
                    btn.setAttribute("disabled", "");
                }
            }
        )
        
        
        $(document).on('change', '.file-input', function() {
            var filesCount = $(this)[0].files.length;
            var textbox = $(this).prev();
            
            if (filesCount === 1) {
                var fileName = $(this).val().split('\\').pop();
                textbox.text(fileName);
            } else {
                textbox.text(filesCount + ' files selected');
            }
    
            if (typeof (FileReader) != "undefined") {
                var dvPreview = $("#divImageMediaPreview");
                dvPreview.html("");            
                $($(this)[0].files).each(function () {
                    var file = $(this);                
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            var img = $("<img />");
                            img.attr("style", "width: 70%; height: 70%; padding: 0px");
                            img.attr("src", e.target.result);
                            img.attr("id", "changeimg")
                            const endname = fileName.split('.')[1];
                            
                            dvPreview.append(img);
                            
                            if (endname == "pdf"){
                                chimg = document.getElementById("changeimg");
                            
                                chimg.src = "/static/pics/pdf.png";
                            }
                            
                    }
                reader.readAsDataURL(file[0]);                
            });
            } else {
                alert("This browser does not support HTML5 FileReader.");
                }
            }
        );
        
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById("password");
            var toggleButton = document.getElementById("toggleBtn");
            var slash1 = document.getElementById("slash1");
        
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                slash1.innerHTML = '<i class="fa fa-eye-slash"></i>'
                //toggleButton.textContent = "Hide";
            } else {
                passwordInput.type = "password";
                slash1.innerHTML = '<i class="fa fa-eye"></i>'
                //toggleButton.textContent = "Show";
            }
        }
        
        function togglePasswordVisibility2() {
            var passwordInput2 = document.getElementById("confirmpassword");
            var toggleButton2 = document.getElementById("toggleBtn2");
            var slash2 = document.getElementById("slash2");
        
            if (passwordInput2.type === "password") {
                passwordInput2.type = "text";
                slash2.innerHTML = '<i class="fa fa-eye-slash"></i>'
                //toggleButton2.textContent = "Hide";
            } else {
                passwordInput2.type = "password";
                slash2.innerHTML = '<i class="fa fa-eye"></i>'
                //toggleButton2.textContent = "Show";
            }
        }
    </script>
{% endblock %}  

