{% extends "parent.html.j2" %}

{% block content %}	
    <div class="row" style="margin-top: 4%">
        <p style='text-align:center; color:#FF3062'> {{log}} </p>
        <div class="col-md-3"></div>
        <div class="col-md-6" id="sec-section">
            <div class="col-12">
                <img src="../assets/pics/Osuani-Final-White.jpg" height="250px" alt="" srcset="">
                <div class="container-fluid" id="atn">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="{{ url_for('sign_up_host') }}" method="POST">
                                <p style="color: rgb(252, 104, 128);"><strong>Next of kin</strong></p>
                                <p> *Details provided here can be used to contact you incase your primary information is not accessible </p>
                                <div class="row">
                                    <div class="form-group">
                                        <label for="password">Name</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="fullname" name="nokfullname">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label for="password">Number</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="number" name="noknumber">
                                            <div class="input-group-append">
                                                <span class="input-group-text password-toggle">
                                                    <i class="fa-solid fa-phone"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label for="password">Address</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="address" name="nokaddress">
                                            <div class="input-group-append">
                                                <span class="input-group-text password-toggle">
                                                    <i class="fa-solid fa-location-dot"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 d-flex justify-content-center">
                                        <button type="submit" class="login-button">JOIN</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
